<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>

    <link  rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link  rel="stylesheet" href="/static/css/blog.css">
</head>
<body>
   <ul class="nav nav-tabs">
            <!--
            <li role="presentation" class="active"><a href="/">Home</a></li>
            -->
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/time.html">Profile</a></li>
            <li role="presentation"><a href="/addBlog.html">Messages</a></li>
   </ul>
    <div class="blogText listBlogs">
        <p>{{blog[0][1]}}</p>
        <!--
        <p>{{blog[0][2]}}</p>
        <p>{{blog[0][3]}}</p>
        -->
        <p>{{blog[0][4]}}</p>
        <p>{{blog[0][5]}}</p>
    </div>



</body>
</html>